/* Inserta tu CSS aqui }*/
.pasto{
	background-color: #04B431;
	margin: 80px; 
	height: 430px;
	width: 820px;
	left:50px;
	margin-left:10%;
	position: relative;
	}
.cancha{
	position:absolute;
	width: 90%;
	height: 83%;
	border: 2px solid white;
	margin-left:30px;
	margin-top:30px;
	}
.porteria1{
	position:absolute;
	display: inline;
	border: 2px solid white;
	width: 10%;
	height:50%;
	margin-top:73px;
	margin-left:30px;
	padding: 20px 0px 30px 20px;
	}

.porteria2{
	margin-left:81%;
	position: absolute;
	display: inline;
	border: 2px solid white;
	width: 10%;
	height:50%;
	margin-top:73px;
	padding: 20px 0px 30px 20px;	
}

.centro{
	position: absolute;
	display: inline;
	border: 2px solid white;
	width:20%;
	height:40%;
	margin-top:110px;
	margin-left:38%;
	border-radius:50%;
	}
.bola1{
	position: absolute;
	top: 150px;
	left: 411px;
}
.bola2{
	position: absolute;
	top: 150px;
	left: 657px;
}
.bola3{
	position: absolute;
	top: 75px;
	left: 115px;
}